snippet fun "a function" b
function $0(){
	$1
}
endsnippet

snippet des "a function" b
describe('$0', () => {
	$1
})
endsnippet

snippet <%= "erb" b
<%= $0 %>
endsnippet


snippet screen "screenshot and open image" b
screenshot_and_open_image
endsnippet

snippet bin "binding pry" b
binding.pry
endsnippet
