snippet <%= "erb"
<%= $0 %>
endsnippet


snippet screen "screenshot and open image"
screenshot_and_open_image
endsnippet

snippet bin "binding pry"
binding.pry
endsnippet

snippet pass "Passou aqui"
ap "#### PASSOU AQUI ####"
endsnippet

snippet pu "Passou aqui"
puts "#### #{$0} ####".green
endsnippet
